.header {
  padding-top: 23px;
  padding-bottom: 21px;
  box-shadow:
    inset 2px -3em 3em rgba(0, 0, 0, 0.3),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.2);

  &__container {
    @include flex-all-sb
  }

  &__nav {
    margin-left: -112px;
  }

  &--main {
    background-color: white;
  }
}
